img:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 5px 5px #888;
}

img {
	max-width: 125px;
}

.header-title {
	font-size: 3.14vw;
	font-family: Consolas;
	font-variant: small-caps;
	text-align: center;
}

.centered-text {
	text-align: center;
	font-family: Consolas;
}

table {
	width: 100%;
	font-family: Consolas;
}

th {
	background-color: #e2e2e2;
}

td {
	height: 150px;
	text-align: center;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

a:link,
a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #a27ca0;
}

a:active {
	color: #88c37f;
}
